.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-logo-link {
    display: inline-block;
    margin-bottom: 50px;
}
.username-input {
    margin-bottom: 20px;
}
.password-input {
    margin-bottom: 43px;
}
label {
    position: relative;
}
.username-input, .password-input {
    width: 300px;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    background-color: transparent;
    padding: 13px 13px 12px 51px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.user-icon,.lock-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

input::placeholder {
    font-family: 'Rubik', 'Arial', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
}

input:-webkit-autofill {
    background-color: transparent;
}
input:autofill {
    background-color: transparent;
}
.login-btn {
    font-family: 'Rubik', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #0d75ff;
    padding: 13px 160px 12px 160px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    margin-bottom: 11px;
}
.login-btn:disabled {
    color: #fff;
}
.forgot-password {
    color: #fff;
    align-self: end;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}