.form-input {
    display: flex;
    position: relative;
    font-family: 'Rubik', 'Arial', sans-serif;
    width: 670px;
    padding: 15px 16px 15px 48px;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 24%);
    background-color: #f8fafd;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
}

.form-input::placeholder {
    color:rgba(0, 0, 0, 24%);
}
.form-search-icon {
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 1;
    top: 22px;
    transform: translateX(15px);
}