@font-face {
    font-family: 'Rubik';
    src: url('../../../assets/webfonts/Rubik-Medium.woff2') format('woff2'),
        url('../../../assets/webfonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../../../assets/webfonts/Rubik-Regular.woff2') format('woff2'),
        url('../../../assets/webfonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Rubik', 'Arial', sans-serif;
}
.container {
    width: 1245px;
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
}
